@charset "utf8";
/* // compress: true, sourceMap: true */

/* // compress: true, sourceMap: true */

body,
ul,
li,
input,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
img,
p,
select,
button {
    margin: 0;
    padding: 0;
}

button {
    border: 0 none;
    outline: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

a:active {
    text-decoration: none;
    color: #000;
}

input {
    outline-style: none;
    border: 0 none;
}

input::-webkit-input-placeholder {
    /*WebKit browsers*/
    color: #787878;
}

input::-moz-input-placeholder {
    /*Mozilla Firefox*/
    color: #787878;
}

input::-ms-input-placeholder {
    /*Internet Explorer*/
    color: #787878;
}

img {
    font-size: 0;
    border: 0 none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0px;
    visibility: hidden;
    clear: both;
}

.clearnfix {
    zoom: 1;
}

.red_ED6253 {
    color: #ED6253 !important;
}

.gray_A0A0A0 {
    color: #A0A0A0 !important;
}

.ft_12 {
    font-size: 12px;
}

.ft_14 {
    font-size: 14px;
}

.ft_16 {
    font-size: 16px;
}

.ft_18 {
    font-size: 18px;
}

.ft_20 {
    font-size: 20px;
}

.ft_15 {
    font-size: 15px;
}

.ft_30 {
    font-size: 30px;
}

.level-20 {
    z-index: 20;
}

.level-30 {
    z-index: 30;
}

.fill-10 {
    height: 10px;
}

.fill-15 {
    height: 15px;
}

.fill-20 {
    height: 20px;
}

.fill-25 {
    height: 25px;
}

.fill-30 {
    height: 30px;
}

.fill-35 {
    height: 35px;
}

.fill-40 {
    height: 40px;
}

.fill-50 {
    height: 50px;
}

.fill-70 {
    height: 70px;
}

.bg_gray {
    background: #efeff4;
}

.mr_20 {
    margin-right: 20px !important;
}

.mt_20 {
    margin-top: 20px !important;
}

.mt_30 {
    margin-top: 30px !important;
}

.mt_300 {
    margin-top: 300px !important;
}

.mt_50 {
    margin-top: 50px !important;
}

.mb_50 {
    margin-bottom: 50px !important;
}

.mb_10 {
    margin-bottom: 10px !important;
}

.mr_10 {
    margin-right: 10px;
}

.mt_5 {
    margin-top: 5px !important;
}

.lh38 {
    line-height: 38px;
}

.ft_gray {
    color: #828e9f;
}

.ft_yellow {
    color: #F0AD4E !important;
}

.bg_body_gray {
    background-color: #efeff4;
}

html,
body {
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Arial', Helvetica, Arial, "Microsoft Yahei", sans-serif;
    background-color: #FFFFFF;
}

.mui-icon img {
    width: 25px;
    height: 25px;
}

.btn_red {
    background-image: linear-gradient(-90deg, #E51D44 0%, #F24F3E 70%);
    border-radius: 91px;
    font-size: 18px;
    padding: 10px 100px !important;
    color: #FFFFFF;
    width: auto !important;
    margin: 0 auto;
}

.btn_red:active {
    opacity: 0.7;
}

.btn_gray {
    background-image: linear-gradient(-90deg, #b7aaaa 0%, #c7c0c0 70%);
    border-radius: 91px;
    font-size: 18px;
    padding: 10px 100px !important;
    color: #FFFFFF;
    width: auto !important;
    margin: 0 auto;
}

.btn_gray:active {
    opacity: 0.7;
}

.btn-default {
    background: #FFFFFF;
    box-shadow: 0 2px 10px 4px rgba(240, 173, 78, 0.3);
    border-radius: 1.33333333rem;
    padding: 0.28rem 1.92rem;
    color: #293D51;
    font-weight: 500;
}

.mui-btn,
button {
    padding: 0;
}

.btn_block {
    padding: 0 !important;
    font-size: 18px;
    display: block;
    width: 92%;
    margin-bottom: 10px;
    padding: 15px 0;
    margin: 0 4%;
    height: 50px;
    line-height: 50px;
}

.hide {
    display: none !important;
}

.show {
    display: inline-block;
}

.show_block {
    display: inline-block;
}

.pl_15 {
    padding-left: 15px;
}

.mt_250 {
    margin-top: 250px !important;
}

.pl_4 {
    padding-left: 4%;
}

.pr_4 {
    padding-right: 4%;
}

.mui-bar .mui-btn-link {
    font-size: 16px;
    line-height: 44px;
    top: 0;
    padding: 0;
    color: #293D51;
    border: 0;
}

.mui-table-view-chevron .mui-table-view-cell {
    padding-right: 0;
}

.mui-table-view:before,
.mui-table-view:after {
    height: 0;
}

.mui-bar-nav~.mui-content {
    padding-top: 64px;
}

.mui-scroll-wrapper {
    padding-top: 64px;
}

.pd_10 {
    padding: 10px;
}

input,
select,
textarea {
    font-size: 15px;
}

.mui-input-row label {
    font-size: 15px;
}

a,
button,
input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

button {
    -webkit-user-modify: unset !important;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 105;
    background-color: rgba(0, 0, 0, 0.4);
}

.mask-pp {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.07);
    display: none;
}

.header-nav {
    background-color: #FFFFFF;
    color: #000000;
    height: 64px !important;
    box-shadow: none;
}

.header-nav .nav_right {
    font-size: 15px;
    color: #000000;
    display: inline-block;
    height: 100%;
}

.header-nav .header-nav div:nth-of-type(3) {
    margin-right: 1.5%;
}

.header-nav .fill-20 {
    background-color: transparent;
}

.header-nav .mui-icon-back {
    color: #293D51;
}

.header-nav #goBack {
    height: 44px;
    line-height: 44px;
    padding-left: 4%;
}

.header-nav #goBack img {
    width: 1.17333333rem;
    height: 0.41333333rem;
    position: relative;
    margin-top: 0.38666667rem;
}

.header-nav h1 {
    color: #293D51;
    font-size: 0.46666667rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.header-nav div:nth-of-type(3) {
    height: 44px;
    line-height: 44px;
}

.header-nav .confirm {
    padding-right: 4%;
}

.header-nav .confirm span {
    font-size: 0.4rem;
}

.icon-jiantou-xia {
    color: #000000;
}

.mt_350 {
    margin-top: 8.66666667rem;
}

.zfcg {
    text-align: center;
}

.zfcg img {
    width: 51px;
    height: 51px;
    margin-top: 65px;
}

.zfcg p {
    margin-top: 25px;
    font-size: 24px;
    color: #222222;
}

.syt_zfcg {
    text-align: center;
}

.syt_zfcg img {
    width: 30px;
    height: 30px;
    margin-top: 21px;
}

.syt_zfcg .zfcg_text {
    color: #F24F3E;
    font-size: 18px;
    margin-top: 20px;
}

.syt_zfcg .zfcg_je {
    margin-top: 8px;
    font-size: 20px;
    color: #222222;
}

.syt_zfcg .zfcg_info {
    color: #555555;
    font-size: 15px;
    overflow: hidden;
    width: 94%;
    margin: auto 3%;
}

.syt_zfcg .zfcg_info:nth-of-type(1) {
    margin-top: 33px;
}

.syt_zfcg .zfcg_info:nth-of-type(2) {
    margin-top: 8px;
}

.line_and_text {
    margin-top: 28px;
}

.line_and_text span {
    vertical-align: middle;
    color: #A0A0A0;
}

.line_and_text span:nth-of-type(1),
.line_and_text span:nth-of-type(3) {
    background-color: #A0A0A0;
    display: inline-block;
    height: 1px;
    width: 40%;
}

.line_and_text span:nth-of-type(2) {
    padding: 0 12px;
}

.syt_imgBox {
    margin-top: 13px;
}

.syt_imgBox+.syt_imgBox {
    margin-top: 10px;
}

.syt_imgBox:last-child {
    margin-bottom: 20px;
}

.syt_imgBox a {
    display: inline-block;
    width: 100%;
    height: 135px;
    font-size: 0;
    background: url("../../images/banner.png") no-repeat;
    background-size: cover;
}

.addbankCard {
    width: 92%;
    margin: 0 4%;
}

.addbankCard .mui-scroll-wrapper {
    width: 92%;
    margin: 0 4%;
}

.addbankCard h1 {
    text-align: left;
    color: #222222;
    font-size: 30px;
    margin-top: 20px;
    padding-left: 4%;
    font-weight: 600;
}

.addbankCard .gary_title {
    color: #A0A0A0;
    font-size: 12px;
    margin-top: 20px;
    padding-left: 4%;
}

.addbankCard button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.mui-input-row span {
    font-size: 15px;
    color: #ED6253;
}

.cardInfo_title {
    font-size: 12px;
    color: #A0A0A0;
    margin-top: 30px;
    padding: 4%;
}

/* .bf_icon::after {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    right: 0;
    top: 0;
    background: url(../../images/iocn_wenhao@2x.png) no-repeat center;
    background-size: 50%;
} */

.h_40 {
    height: 40px;
}

.bf_icon_span {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    text-align: center;
    line-height: 3.2;
}

.bf_icon {
    width: 21px;
    height: 21px;
    right: 0;
}

.addCard_tyxx {
    text-align: center;
    margin-top: 24px;
}

.addCard_tyxx .mui-checkbox label,
.addCard_tyxx .mui-radio label {
    padding-right: 0;
    width: auto;
    vertical-align: top;
}

.addCard_tyxx input[type=checkbox],
.addCard_tyxx input[type=radio] {
    vertical-align: sub;
    width: 20px;
    height: 15px;
}

.black_title {
    font-size: 15px;
    color: #555555;
    margin-top: 18px;
    padding-left: 4%;
}

.gl_jbyhk .black_title {
    font-size: 15px;
    color: #555555;
    margin-top: 18px;
    padding-left: 4%;
}

.gl_mmk {
    padding: 0 4%;
    margin-top: 40px;
    font-size: 0;
    display: flex;
}

.gl_mmk li {
    display: inline-block;
    width: 16.66%;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border-bottom: 1px solid #B9B9B9;
    margin: 0 2%;
    flex: 1;
}

.gl_mmk li span {
    font-size: 20px;
}

.wjmima {
    margin-top: 20px;
    width: 100%;
    padding-right: 4%;
    font-size: 12px;
    text-align: right;
}

.wjmima a {
    color: #F24F3E;
}

.zdy_dlg p {
    color: #e2e2e2 !important;
}

.zdy_dlg img {
    width: 20px;
    height: 20px;
    margin-top: 6px;
}

.goTo_addBank {
    text-align: center;
    margin-top: 30px;
}

.goTo_addBank a {
    color: #F24F3E;
    font-size: 14px;
    height: 100%;
}

.item_jt::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../../images/icon_youjiantou@2x.png) no-repeat center;
    background-size: 50%;
}

.cgtjyhk {
    text-align: center;
}

.cgtjyhk img {
    margin-top: 51px;
    width: 171px;
    height: auto;
}

.cgtjyhk p {
    margin-top: 60px;
    color: #F35545;
    font-size: 24px;
}

/* 密码 */

.gl_mmk li {
    position: relative;
}

.gl_mmk li input {
    position: absolute;
    left: 0;
    opacity: 0;
}

/* 键盘 */

.keyboard {
    position: fixed;
    left: 0;
    bottom: -200%;
    width: 100%;
    z-index: 100;
}

.keyboard li {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #000000;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
}

.keyboard li:nth-child(1),
.keyboard li:nth-child(2),
.keyboard li:nth-child(4),
.keyboard li:nth-child(5),
.keyboard li:nth-child(7),
.keyboard li:nth-child(8) {
    border-right: 0 none;
    border-bottom: 0;
}

.keyboard li:nth-child(3),
.keyboard li:nth-child(6),
.keyboard li:nth-child(9) {
    border-bottom: 0;
}

.keyboard li:nth-child(7),
.keyboard li:nth-child(8),
.keyboard li:nth-child(10),
.keyboard li:nth-child(11) {
    border-right: 0 none;
}

.keyboard li:nth-child(10),
.keyboard li:nth-child(12) {
    border-right: 0 none;
    background-color: #C6CBD4;
}

.send_yzm {
    margin-top: 15px;
}

.jsyzm {
    font-size: 16px;
    color: #555555;
    margin-top: 12px;
}

.gray_title {
    color: #A0A0A0;
    margin-top: 4px;
    font-size: 12px;
}

.custom_popup {
    position: fixed;
    z-index: 110;
    width: 80%;
    padding: 0 8%;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    background-color: #3A3B3D;
    padding-top: 7px;
    left: 50%;
    bottom: 200%;
    transform: translate(-50%);
}

.custom_popup .popup_title {
    color: #fff;
    margin-top: 30px;
    padding: 15px auto;
    text-align: center;
}

.custom_popup .popup_content {
    margin-top: 20px;
}

.custom_popup p {
    color: #fff;
    text-align: left;
    padding: 10px 0;
}

.custom_popup .mui-icon-close {
    position: absolute;
    left: 50%;
    bottom: -15%;
    transform: translateX(-50%);
    font-size: 30px;
}

.animate_pup {
    animation: mymove 1s forwards;
}

@keyframes mymove {
    from {
        bottom: 200%;
        display: none;
    }
    to {
        bottom: 20%;
        display: block;
    }
}

.editIcon .mui-icon-clear {
    right: 21px !important;
}

.addbankCard h1 {
    text-align: left;
    color: #222222;
    font-size: 30px;
    margin-top: 20px;
    padding-left: 4%;
    font-weight: 600;
}

.keyboardmove_pup {
    animation: keyboardmove 0.5s forwards;
}

@keyframes keyboardmove {
    from {
        bottom: -200%;
        display: none;
    }
    to {
        bottom: 0;
        display: block;
    }
}
.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
  width: 75%;
}

.mui-input-row label {
  width: 23%;
}